<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>acesso denegado</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <div>NO tienes permiso para ver esta pagina o ejecutar esta accion</div>
        <a th:href="@{/}">[[#{acction.regresar}]]</a>
    </body>
</html>
