<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleat.org/extras/spring-security">
    <head>
        <title>Agregar Cliente</title>
        <meta charset="UTF-8"/>

    </head>
    <body>
        <section th:fragment="agregarCliente">

            <div id="agregarCliente" class="modal fade">
                <div class="modal-dialog modal-lg">

                    <div class="modal-content">

                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{persona.crear}">Crear persona</h5>
                            <button class="close" data-dismiss="modal">

                                <span>&times;</span>

                            </button>
                        </div>

                        <form th:action="@{/guardar}" th:object="${personas}"
                              method="POST" class="was-validated">

                            <div class="modal-body">
                                <div class="form-group">
                                    <!--<input type="hidden" name="idPersona" th:field="*{idPersona}">
                                        <br/>-->
                                    <label for="nombre">[[#{lista.personaName}]]:</label>
                                    <input type="text" class="form-control" name="nombre"  required="true"/>
                                    <!--<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error</span>
                                    eso es para validar un campo si tiene algun error -->
                                </div>
                                <div class="form-group">
                                    <label for="apellido">[[#{lista.personaApe}]]:</label>
                                    <input type="text" class="form-control" name="apellido"  required="true"/>
                                </div>  
                                <div class="form-group">
                                    <label for="email">[[#{lista.personaEmail}]]:</label>
                                    <input type="email" class="form-control" name="email"  required="true"/>
                                </div>  
                                <div class="form-group">
                                    <label for="telefono">[[#{lista.personaTele}]]:</label>
                                    <input type="tel" class="form-control" name="telefono"  required="true"/>
                                </div>
                                <div class="form-group">
                                    <label for="saldo">[[#{lista.personaSaldo}]]:</label>
                                    <input type="number" class="form-control" name="saldo"  required="true" step="any"/>
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" th:text="#{acction.guardar}">Guardar</button>
                            </div>
                        </form>
                    </div>




                </div>

            </div>
            </div>

        </section>
    </body>
</html>
