<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleat.org/extras/spring-security">
    <head>
        <title>listado Clientes</title>
        <meta charset="UTF-8"/>
        
    </head>
    <body>
        
        <section th:fragment="listaCliente" id="cliente">
            <div class="container">
                
                <div class="row">
                    
                    <div class="col-md-9">
                        
                        <div class="card">
                            <div class="card-header">
                                
                                <h4>[[#{lista.personaTituloLista}]]</h4>
                                
                            </div>
                            <div th:if="${persona != null and !persona.empty}">
                                <table class="table table-stryped">
                                    
                                    <thead class="thead-dark">
                                        
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{lista.personaName}">Nombre</th>
                                            <th th:text="#{lista.personaSaldo}">Saldo</th>
                                            <th></th>
                                            <th></th>
                                            
                                    </thead>
                                    <tbody>
                                        
                                        <tr th:each="persona, contador: ${persona}">
                                            
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${persona.nombre}+' '+${persona.apellido}]] </td>
                                            <td>[[${new java.text.DecimalFormat('$#,##0.00').format(persona.saldo)}]]</td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/editar/}+${persona.idPersona}" class="btn btn-secondary">
                                                    
                                                    <i class="fas fa-angle-double-right"></i> [[#{acction.editar}]]
                                                    
                                                </a>
                                            </td>
                                            
                                            <td>
                                                
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/eliminar(idPersona=${persona.idPersona})}" class="btn btn-dark">
                                                    
                                                    <i class="fas fa-angle-double-right"></i> [[#{acction.eliminar}]]
                                                    
                                                </a>
                                                
                                            </td>
                                            
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${persona == empty or persona.empty}">
                                <span th:text="#{lista.personaLista-vacia}">Lista vacia</span>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-3">
                        <div class="card text-center bg-danger text-white mb-3">
                            <div class="card-body"></div>
                            <h3 th:text="#{lista.personaSaldoTotal}">Saldo total</h3>
                            <h4 class="display-4">
                                [[${new java.text.DecimalFormat('$#,##0.00').format(saldoTotal)}]]
                            </h4>
                        </div>
                        <div class="card text-center bg-success text-white mb-3">
                        
                        <div class="card-body">
                            <h3 th:text="#{lista.totalCliente}">Total clientes</h3>
                            <h4 class="display-4">
                                <i class="fas fa-users"></i>[[${totalClientes}]]
                            </h4>
                        </div>
                        
                    </div>
                    </div>
                    
                    
                    
                    
                </div>
                
            </div>
            
        </section>
        
    </body>
</html>
