<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleat.org/extras/spring-security">
    <head th:replace="layaut/plantilla :: head">
        
        <title>datos person</title>
        <meta charset="UTF-8"/>
        
    </head>
    <body>
        <header th:replace="layaut/plantilla :: header"></header>
        <section th:replace="layaut/editarCliente :: editarCliente"></section>
         <footer th:replace="layaut/plantilla :: footer"></footer>
      
       
       
      
    </body>
</html>
